<div class="grid container">
  <h2 routerLink="/" class="name">Доска объявление</h2>

  <div class="card flex justify-content-center">
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <button
      styleClass="p-button-text"
      pButton
      type="button"
      (click)="menu.toggle($event)"
      icon="pi pi-bars"
      label="Все категории"
    ></button>
  </div>

  <div class="p-inputgroup">
    <input type="text" pInputText placeholder="Поиск по объявлениям" />
    <button type="button" icon="pi pi-search" pButton label="Найти"></button>
  </div>
</div>
