:host {
    display: flex;
    justify-content: flex-end;
    background-color: #1E293B;
    padding: 10px 0;
    .btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 25px;
        .flex {
        
            span {
                color: #fff;
            }
       
        }

    }
}
